header {
    position: relative;
    height: auto;
    padding: 20px;
    border-bottom: 7px solid $color-primary;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../../../img/header-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo-upr {
        display: flex;
        justify-content: center;
    }
    .header-info {
        padding-left: 25px;
        padding-right: 25px;
        line-height: 25px;
        a {
            color: $color-text;
            &:after {
                background: $color-primary;
            }
        }
        span {
            margin-right: 20px;
        }
        img {
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    nav {
        a {
            margin-right: 30px;
        }
        .top-menu {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            margin-top: 20px;
        }
        .bottom-menu {
            display: flex;
            justify-content: center;
        }
    }
    .hamburger {
        display: none;
        width: 30px;
        height: 19px;
        margin-left: auto;
        margin-top: 10px;
        .hamburger-box {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            .hamburger-inner {
                width: 100%;
                height: 3px;
                background-color: $color-text;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $color-text;
                }
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $color-text;
                }
            }
        }
    }
}
