<header>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-3 col-6">
        <div class="logo">
          <img src="img/svg/logo.svg" alt="" />
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="logo-upr">
          <img
            style="width:263px; height: 62px;"
            src="img/logotip_UMPiVR-ITOG.png"
            alt=""
          />
        </div>
        <div class="hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <div class="header-info">
          <div class="phone">
            <img src="img/svg/phone.svg" alt="" /><span
              ><a href="tel:8314623771">(831) 462-37-71</a></span
            >
            <img src="img/svg/mail.svg" alt="" /><span
              ><a href="mailto:pos-nngu@mail.ru"> pos-nngu@mail.ru</a></span
            >
          </div>
          <div class="location">
            <img src="img/svg/map-pin.svg" alt="" /><span
              ><a
                href="https://www.google.ru/maps/place/%D0%9F%D1%80%D0%BE%D1%84%D1%81%D0%BE%D1%8E%D0%B7%D0%BD%D0%B0%D1%8F+%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F+%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%BE%D0%B2+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D0%B0+%D0%9B%D0%BE%D0%B1%D0%B0%D1%87%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE/@56.2999296,43.9800595,18z/data=!4m12!1m6!3m5!1s0x4151d5bab831164b:0x57c5d14879f8754!2z0J7QsdGJ0LXQttC40YLQuNC1INCd0JPQotCjIOKEliAy!8m2!3d56.3075334!4d43.9860743!3m4!1s0x0:0xdfc786d2a6597d47!8m2!3d56.3001449!4d43.9797112"
                target="_blank"
                >пр.Гагарина, 23, общежитие №5 (офис-центр), каб. 17</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 align-self-center">
        <nav>
          <div class="top-menu">
            <a href="#">О Профсоюзе</a>
            <a href="#">Общежития</a>
            <a href="#">Санаторий-профилакторий</a>
            <a href="#">ССОЛ "Заря"</a>
          </div>
          <div class="bottom-menu">
            <a href="#">Образовательное направление</a>
            <a href="#">Культурно-массовое направление</a>
            <a href="#">Патриотическое направление</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
