<section class="slider">
  <div class="owl-carousel owl-theme slider-top">
    <div class="item">
      <a href="#"><img src="img/slider.jpg" alt=""/></a>
    </div>
    <div class="item">
      <img
        src="http://www.unn.ru/site/images/news/2019/6/26/2/ARWU-ShanghaiRankings_600x300px_1.jpg"
        alt=""
      />
    </div>
  </div>
</section>
