.slider {
    .owl-carousel {
        .owl-dots {
            position: absolute;
            right: 10px;
            bottom: 0;
            width: 100%;
            button {
                outline: none;
            }
            .owl-dot span {
                background: #ffffff;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }
            .active span {
                background: $color-primary !important;
            }
            .owl-dot:hover span {
                background: $color-primary !important;
            }
        }
        .owl-nav {
            position: absolute;
            top: 40%;
            width: 100%;
            color: $color-primary;
            font-size: 50px;
            button {
                outline: none;
            }
            button:hover {
                background-color: $color-primary;
                color: #fff;
            }
            .owl-prev,
            .owl-next {
                position: absolute;
                width: 45px;
                height: 45px;
                background-color: #fff;
                border-radius: 50%;
                span {
                    display: block;
                    height: 100%;
                    line-height: 34px;
                }
            }
            .owl-prev {
                left: 40px;
            }
            .owl-next {
                right: 40px;
            }
        }
    }
}
