@font-face {
    font-family: "OpenSans-ExtraBold";
    font-weight: 800;
    src: url("../../fonts/OpenSans-ExtraBold.woff") format("woff");
    src: url("../../fonts/OpenSans-ExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSans-Regular";
    font-weight: 400;
    src: url("../../fonts/OpenSans-Regular.woff") format("woff");
    src: url("../../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    font-weight: 600;
    src: url("../../fonts/OpenSans-SemiBold.woff") format("woff");
    src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
}
