h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
  color: $color-primary;
  margin-bottom: 50px;
  margin-top: 70px;
}
body {
  position: relative;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  color: $color-text;
  line-height: 1.4;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../img/bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
}
.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* vertical spacing between columns */
[class*="”col-”"] {
  margin-bottom: 30px;
}

a {
  outline: none;
  text-decoration: none;
  color: $color-text;
  position: relative;
}
.owl-carousel {
  .item-video {
    height: auto;
  }
  .owl-video-play-icon {
    z-index: 1000 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background: url("../../img/owl.video.play.png") no-repeat !important;
    background-position: center !important;
  }
  /*.owl-video-play-icon:hover::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.77,1);
        background: linear-gradient(180deg, #007CB7 0%, rgba(6, 158, 230, 0) 100%);
        z-index: -1000;
    }*/
  .owl-video-tn {
    background-size: cover !important;
  }
  .owl-video-wrapper {
    height: 193px !important;
  }
}
@media screen and (max-width: 480px) {
  header::after {
    background: none !important;
  }
  .slider {
    .owl-nav {
      display: none;
    }
  }
  nav {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  .header-info {
    font-size: 14px;
    padding: 0 !important;
    margin-top: 10px;
  }
  .logo-upr {
    display: none !important;
  }
  .news h2 {
    font-size: 28px !important;
  }
  .social {
    display: flex;
    justify-content: center;
    a {
      margin-right: 5px;
    }
  }
}
