<section class="news">
  <div class="container">
    <h2>новости профсоюза</h2>
    <div class="row justify-content-center">
      <div class="col-sm-4 col-12">
        <article class="news__preview">
          <div class="news__thumbnail">
            <a href="#" class="news__link"
              ><img src="img/article.jpg" alt=""
            /></a>
          </div>
          <h3 class="news__title">
            <a href="#" class="news__link"
              >Смена в санатории - профилактории с 19.03.2019г.</a
            >
          </h3>
          <div class="news__info">
            <img src="img/svg/clock.svg" alt="" class="news__info__icon" /><span
              >17.05.2019</span
            >
            <img src="img/svg/eye.svg" alt="" class="news__info__icon" /><span
              >5000</span
            >
          </div>
          <p>
            Уважаемые студенты! Публикуем списки, прошедших на смену в санаторий
            - профилакторий Университета Лобачевского с 19 марта 2019 года.
            Напоминаем, оплатить путевку необходимо в кассе во 2-ом корпусе на
            первом этаже и принести чек в Профком студентов.
          </p>
        </article>
      </div>
      <div class="col-xl-4 col-12">
        <article class="news__preview">
          <div class="news__thumbnail">
            <a href="#" class="news__link"
              ><img src="img/article.jpg" alt=""
            /></a>
          </div>
          <h3 class="news__title">
            <a href="#" class="news__link"
              >Смена в санатории - профилактории с 19.03.2019г.</a
            >
          </h3>
          <div class="news__info">
            <img src="img/svg/clock.svg" alt="" class="news__info__icon" /><span
              >17.05.2019</span
            >
            <img src="img/svg/eye.svg" alt="" class="news__info__icon" /><span
              >5000</span
            >
          </div>
          <p>
            Уважаемые студенты! Публикуем списки, прошедших на смену в санаторий
            - профилакторий Университета Лобачевского с 19 марта 2019 года.
            Напоминаем, оплатить путевку необходимо в кассе во 2-ом корпусе на
            первом этаже и принести чек в Профком студентов.
          </p>
        </article>
      </div>
      <div class="col-xl-4 col-12">
        <article class="news__preview">
          <div class="news__thumbnail">
            <a href="#" class="news__link"><img src="img/12.jpg" alt=""/></a>
          </div>
          <h3 class="news__title">
            <a href="#" class="news__link"
              >Смена в санатории - профилактории с 19.03.2019г.</a
            >
          </h3>
          <div class="news__info">
            <img src="img/svg/clock.svg" alt="" class="news__info__icon" /><span
              >17.05.2019</span
            >
            <img src="img/svg/eye.svg" alt="" class="news__info__icon" /><span
              >5000</span
            >
          </div>
          <p>
            Уважаемые студенты! Публикуем списки, прошедших на смену в санаторий
            - профилакторий Университета Лобачевского с 19 марта 2019 года.
            Напоминаем, оплатить путевку необходимо в кассе во 2-ом корпусе на
            первом этаже и принести чек в Профком студентов. Уважаемые студенты!
            Публикуем списки, прошедших на смену в санаторий - профилакторий
            Университета Лобачевского с 19 марта 2019 года. Напоминаем, оплатить
            путевку необходимо в кассе во 2-ом корпусе на первом этаже и
            принести чек в Профком студентов.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
