.partners {
    margin-top: 140px;
    h4 {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: $color-primary;
        letter-spacing: 1px;
        text-align: center;
    }
    .owl-carousel {
        .item {
            display: flex;
            flex-direction: column;
            img {
                align-self: center;
                width: auto;
                height: 134px;
            }
        }
    }
}
