<section class="partners">
  <div class="container">
    <div class="owl-carousel owl-theme partners-library">
      <div class="item">
        <img src="img/1.png" alt="" />
        <a href="https://eseur.ru/" target="_blank"><h4>профсоюз</h4></a>
      </div>
      <div class="item">
        <img src="img/lg.png" alt="" />
        <a href="http://www.uvr.unn.ru/" target="_blank"
          ><h4>управление по молодежной политике</h4></a
        >
      </div>
      <div class="item">
        <img src="img/2.png" alt="" />
        <a href="http://sksrf.ru/" target="_blank"
          ><h4>студенческий кардиационный совет</h4></a
        >
      </div>
    </div>
  </div>
</section>
