<section class="video">
  <div class="container">
    <h2>видеотека</h2>
    <div class="owl-carousel owl-theme video-library">
      <div class="item-video">
        <a
          class="owl-video"
          href="https://www.youtube.com/watch?v=qygmizi66fQ"
        ></a>
        <h4>
          ВРЕМЯ ПЕРВЫХ 2019 | Молодёжный форум в Нижегородской академии МВД
          России
        </h4>
      </div>
      <div class="item-video">
        <a
          class="owl-video"
          href="https://www.youtube.com/watch?v=sigYJz11JHQ"
        ></a>
        <h4>
          ВРЕМЯ ПЕРВЫХ 2019 | Молодёжный форум в Нижегородской академии МВД
          России
        </h4>
      </div>
      <div class="item-video">
        <a
          class="owl-video"
          href="https://www.youtube.com/watch?v=kp3LN_CzjoQ"
        ></a>
        <h4>
          ВРЕМЯ ПЕРВЫХ 2019 | Молодёжный форум в Нижегородской академии МВД
          России
        </h4>
      </div>
      <div class="item-video">
        <a
          class="owl-video"
          href="https://www.youtube.com/watch?v=kp3LN_CzjoQ"
        ></a>
        <h4>
          ВРЕМЯ ПЕРВЫХ 2019 | Молодёжный форум в Нижегородской академии МВД
          России
        </h4>
      </div>
    </div>
  </div>
</section>
