@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

.single-page {
    padding-top: 30px;
    .breadcrumbs {
        color: $color-primary;
        font-size: 17px;
        a {
            color: $color-primary;
        }
        .active {
            color: $color-text;
            &:after {
                width: 0;
            }
        }
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 36px;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .article-info {
        margin-bottom: 10px;
        span {
            color: #525252;
            font-size: 14px;
            margin-right: 10px;
            a {
                color: $color-primary;
                &:after {
                    width: 0;
                }
            }
        }
        img {
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    p {
        font-size: 16px;
        color: #525252;
    }
}
