<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h4>Быстрые ссылки</h4>
        <ul>
          <li><a href="#">Общежития</a></li>
          <li><a href="#">Санаторий-профилакторий</a></li>
          <li><a href="#">ССОЛ "Заря"</a></li>
          <li><a href="#">Патриотическое направление</a></li>
          <li><a href="#">Образовательное направление</a></li>
          <li><a href="#">Культурно-массовое направление</a></li>
        </ul>
      </div>
      <div class="col-xl-3">
        <h4>О Профсоюзе</h4>
        <ul>
          <li><a href="#">История</a></li>
          <li><a href="#">Структура</a></li>
          <li><a href="#">Функции</a></li>
          <li><a href="#">Основные документы</a></li>
          <li><a href="#">Достижения</a></li>
        </ul>
      </div>
      <div class="col-xl-5">
        <h4>Контакты</h4>
        <ul>
          <li>
            <img src="img/svg/phone_blue.svg" alt="" />
            <a href="#">(831) 462-37-71</a>
          </li>
          <li>
            <img src="img/svg/mail_blue.svg" alt="" />
            <a href="#">pos-nngu@mail.ru</a>
          </li>
          <li>
            <img src="img/svg/map-pin_blue.svg" alt="" />
            <a href="#">пр.Гагарина, 23, общежитие №5 (офис-центр), каб. 17</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer--bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-12">
          <span>Copyright © 2019 Университет Лобачевского</span>
        </div>
        <div class="col-xl-2 col-12">
          <div class="social">
            <a href=""><img src="img/svg/VK_white.svg" alt=""/></a>
            <a href=""><img src="img/svg/Instagram_white.svg" alt=""/></a>
            <a href=""><img src="img/svg/Youtube.svg" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
