footer {
    background-color: $color-primary;
    padding-top: 20px;
    margin-top: 70px;
    h4 {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 25px;
    }
    ul {
        margin-top: 16px;
        li {
            padding-bottom: 10px;
            img {
                vertical-align: middle;
            }
            a {
                color: #61ccff;
            }
        }
    }
    .footer--bottom {
        background-color: #216b8f;
        padding-top: 15px;
        margin-top: 10px;
        span {
            font-size: 14px;
            color: #fff;
        }
    }
}
